<h2>Add API to Database</h2>
<form action="/addApiPage" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input  class="form-control" id="name" placeholder="Enter name for your API" name="name">
    </div>
    <div class="form-group">
        <label for="url">Url:</label>
        <input class="form-control" id="url" placeholder="Enter your API url" name="url">
    </div>
    <div class="form-group">
        <label for="frequency">Frequency:</label>
        <input class="form-control" id="frequency" placeholder="Eg: 1 sec" name="frequency">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>