<h2>Add User-Defined Function to Database</h2>
<form action="/addFunctionPage" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input  class="form-control" id="name" placeholder="Enter name for your function" name="name">
    </div>
    <div class="form-group">
        <label for="function">Function:</label>
        <textarea class="form-control" rows="10" id="function" placeholder="Enter your function" name="function"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>