<!DOCTYPE html>
<html lang="en">
<%- include('header')%>
<body>
    <%- include('navbar')%>
    <div id="root">

        <div class="container">
        </div>
    </div>
    <script src="/javascripts/bundle.js" charset="UTF-8">

    </script>
</body>
</html>
